
body {
  padding-left: 0;
  padding-right: 0;
  background: url(../img/background.png);
}

#wrap .container-fluid {
  padding-top: 30px;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  background: url(../img/footer.png);
  color: #AAA;
  text-align: right;
}

footer p {
  margin: 20px 0;
}

footer,
.marketing {
  background: url(../img/footer.png);
  background-color: #1f1f1f;
  -moz-box-shadow:    0 -2px 15px #222222;
   -webkit-box-shadow: 0 -2px 15px #222222;
   box-shadow:         0 -2px 15px #222222;
}

.marketing .wrapper {
  -moz-box-shadow:    inset 0 10px 50px #000000;
   -webkit-box-shadow: inset 0 10px 50px #000000;
   box-shadow:         inset 0 10px 50px #000000;
  padding: 60px;
}

.thumbnail {
  border: none;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.main-video {
  height: 220px;
  -moz-box-shadow:    0 0px 15px #000;
   -webkit-box-shadow: 0 0px 15px #000;
   box-shadow:         0 0px 15px #000;
}

.globe {
  max-width: 512px;
}

.brand {
  font-weight: bolder;
}

@media (min-width: 433px) {
  .main-video {
    height: 250px;
  }
}

@media (min-width: 488px) {
  .main-video {
    height: 270px;
  }
}

@media (min-width: 522px) {
  .main-video {
    height: 300px;
  }
}

@media (min-width: 576px) {
  .main-video {
    height: 325px;
  }
}

@media (min-width: 600px) {
  .main-video {
    height: 350px;
  }
}

@media (min-width: 650px) {
  .main-video {
    height: 370px;
  }
}

@media (min-width: 704px) {
  .main-video {
    height: 405px;
  }
}

@media (min-width: 768px) {
  .main-video {
    height: 270px;
  }
}

@media (min-width: 980px) {
  .main-video {
    height: 347px;
  }
}

@media (min-width: 1200px) {
  .main-video {
    height: 433px;
  }
}

.btn-download {
  padding: 15px;
}
