body {
    background: url(../images/bg_living_room.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
    background-size: cover;
  
}

ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

li {
	padding: 0px;
	margin: 0 0 12px;
}

h2 {
	font-weight: normal;
	color: #064E8E;
}

.nav {
	margin-bottom: 0px;
}

.nav-tabs {
	border-bottom: none;
	float: right;
}

.nav-tabs > li {
	margin-left: 5px;
}

.nav-tabs > li > a {
	text-decoration: none;
	color: #555;
	font-size: 12pt;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	   		border-radius: 20px;
	border: none;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	color: #fff;
	cursor: default;
	background-color: #849636;
	border: none;
	border-bottom-color: transparent;
}

.tab-content {
	clear: both;
}

.about-left-col {
	width: 49%;
	border-right: 1px solid #ddd;
	float: left;
}

.about-right-col {
	width: 49%;
	float: left;
}

.about-box {
	padding: 0 18px 10px;
	margin: 0 0 10px;
}

.border-bottom {
	border-bottom: 1px solid #ddd;
}

.icon {
	margin-right: 10px;
	float: left;
}