
footer {
  margin-bottom: 10px;
  bottom: 0;
  position: absolute;
  height: 40px;
  width: 93%;
}

footer .social-media {
  position: absolute;
  left: 10px;
  width: 150px;
  height: 40px;
}

footer .social-media ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px;
}

footer .social-media li {
  float: left;
  margin: 0 10px 0 0;
  padding: 0px;
}

footer .social-media img {
  opacity: 0.2;
  filter:Alpha(opacity=20);
  
  transition: opacity .5s;
  -moz-transition: opacity .5s; /* Firefox 4 */
  -webkit-transition: opacity .5s; /* Safari and Chrome */
  -o-transition: opacity .5s; /* Opera */
}

footer .social-media img:hover {
  opacity: 1;
  filter:Alpha(opacity=100);
}

footer .copyright {
  position: absolute;
  right: 10px;
  width: 120px;
  top: 10px;
}
