body {
    background: url(../images/bg_table_repeat.png) repeat-x bottom left fixed,
        url(../images/bg_grass.jpg) no-repeat center center fixed; 
  -webkit-background-size: 14%, cover;
  -moz-background-size: 14%, cover;
  -o-background-size: 14%, cover;
  background-size: 14%, cover;
  
}

.macbook {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
}

.macbook-container {
  position: relative;
  bottom: 0;
  right: 0;
}

.macbook img {
  width: 100%;
}

@media (max-width: 768px) {

  .macbook-container {
    width: 100% !important;
  }
}